{% extends 'base.html.twig' %}

{% block title %}Validate{% endblock %}

{#{% block navbar %}#}
{#<li class="btn nav-item active">#}
{#<a class="nav-link" href="/validate">Validate</a>#}
{#</li>#}

{#{% if isAdmin %}#}
{#<li class="btn nav-item active">#}
{#<a class="nav-link" href="/admin">Admin</a>#}
{#</li>#}
{#{% endif %}#}
{#<li class="btn nav-item btn-danger active">#}
{#<a class="nav-link" href="/?disconnect=true">Disconnect</a>#}
{#</li>#}
{#{% endblock %}#}

{% block body %}

    {% if modelValidated == "valid" %}
      <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> Your model has been validated.
      </div>
    {% elseif modelValidated == "notValid" %}
      <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Failed!</strong> Your model contains errors.
      </div>
    {% endif %}

  <form action="/validate" method="post">
    <div class="card-group">

      <div class="card">
        <div class="card-header">Model</div>
        <div class="card-body">{{ xsd }}</div>
      </div>

      <div class="card">
        <div class="card-header">XML</div>
        <div class="card-body"><textarea name="xml" class="form-control" rows="5" id="xml">{{ xml }}</textarea></div>
      </div>


      <textarea name="xsd" class="form-control" rows="5" id="xsd" style="display:none;">{{ xsd }}</textarea>
    </div>
    <button type="submit" class="btn btn-default" style="margin: 10px;">Submit</button>
  </form>
{% endblock %}