{% extends 'base.html.twig' %}

{% block title %}Validate{% endblock %}

{% block navbar %}
    <li class="btn nav-item active">
        <a class="nav-link" href="/validate">Validate</a>
    </li>

    {% if isAdmin %}
        <li class="btn nav-item active">
            <a class="nav-link" href="/admin">Admin</a>
        </li>
    {% endif %}
<li class="btn nav-item btn-danger active">
    <a class="nav-link" href="/?disconnect=true">Disconnect</a>
</li>
{% endblock %}

{% block body %}
validation
{% endblock %}
