{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="row">

        <div class="col-sm-3">
            <div class="btn-group-vertical">

                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#button1">Add User
                </button>
                <div class="collapse" id="button1">
                    <form action="#">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="text" class="form-control" id="email">
                        </div>

                        <div class="form-group">
                            <label for="pwd">Password:</label>
                            <input type="text" class="form-control" id="pwd">
                        </div>
                        <button type="submit" class="btn btn-default">Add User</button>
                    </form>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#button2">Delete User
                </button>
                <div class="collapse" id="button2">
                    <form action="#">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <button type="submit" class="btn btn-default">Delete User</button>
                    </form>
                </div>

                <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#button3">Add Template
                </button>
                <div class="collapse" id="button3">
                    <form action="#">
                        <div class="form-group">
                            <label for="email">Email address:</label>
                            <input type="text" class="form-control" id="email">
                        </div>

                        <div class="form-group">
                            <label for="email">XSD:</label>
                            <input type="text" class="form-control" id="email">
                        </div>
                        <button type="submit" class="btn btn-default">Add XSD to User</button>
                    </form>

                </div>
            </div>
        </div>

        <div class="col-sm-9">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Version</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in 1..5 %}
                    <tr>
                        <th scope="row">{{ i }}</th>
                        <td>Model {{ i }}</td>
                        <td>v.{{ i }}</td>
                        <td><a href="#" class="btn btn-info">View</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block include %}
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
            integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
            crossorigin="anonymous"></script>
{% endblock %}